<div class="body">
  <div class="container w-50 ">
    <div class="text-center">
      <img  src="assets/img/avataaars.svg" class="mb-1" height="200px" width="200px">
    </div>
    <form class="border p-5 mb-5 shadow-lg rounded" #userForm = "ngForm" novalidate   (ngSubmit)="OnSubmit(userForm.value)">
      <div class="text-center mb-3">
        <h3 style="font-size: 30px">Binvenue à Mediatek</h3>
      </div>
      <div class="form-group">
        <label for="nom" class="label" >Nom</label>
        <input type="text" class="form-control" id="nom" #nom="ngModel" name="nom" [(ngModel)]="client.nom" placeholder="Votre nom" required >
        <span class="text-danger"  *ngIf="(nom.touched || userForm.submitted) && nom.errors?.required">Name is required</span>
      </div>
      <div class="form-group">
        <label for="prenom"  class="label">Prenom</label>
        <input type="text" class="form-control" id="prenom"   #prenom="ngModel" name="prenom" placeholder="Votre prenom"  required [(ngModel)]="client.prenom">
        <span class="text-danger"  *ngIf="(prenom.touched || userForm.submitted) && prenom.errors?.required">prenom is required</span>
      </div>


      <div class="form-group">
        <label for="email"  class="label">Email</label>
        <input type="email" class="form-control" id="email" #email="ngModel" [(ngModel)]="client.email"  name="email" placeholder="Votre email"  required="" >
        <span class="text-danger"  *ngIf="(email.touched || userForm.submitted) && email.errors?.required">email is required</span>
      </div>

      <div class="form-group">
        <label for="tel" class="label" >Telephone</label>
        <input type="text" class="form-control" id="tel" name="tel" #tel="ngModel" placeholder="Votre nom" [(ngModel)]="client.tel"  required >
        <span class="text-danger"  *ngIf="(tel.touched || userForm.submitted) && tel.errors?.required">Tel is required</span>
      </div>
      <div class="form-group">
        <label for="tel" class="label" >Adresse</label>
        <input type="text" class="form-control" id="adresse" #adresse="ngModel" name="adresse" placeholder="Votre adresse" [(ngModel)]="client.adresse" required >
        <span class="text-danger"  *ngIf="(adresse.touched || userForm.submitted) && adresse.errors?.required">adresse is required</span>
      </div>


      <div class="form-group">
        <label for="password"  class="label">Mot de passe</label>
        <input type="password" class="form-control" id="password" #password="ngModel" [(ngModel)]="client.password"  name="password"  required>
        <span class="text-danger"  *ngIf="(password.touched || userForm.submitted) && password.errors?.required">mot de passe obligatoire</span>
      </div>
      <div class="form-group">
        <label for="cpassword"  class="label">Confirmer votre mot de passe</label>
        <input type="password" class="form-control" id="cpassword" #cpassword="ngModel" [(ngModel)]="Cpassword"  name="cpassword" required>
        <span class="text-danger"  *ngIf="(cpassword.touched || userForm.submitted) && cpassword.errors?.required && enable">champ obligatoire</span>
        <span class="text-danger" *ngIf="(cpassword.touched || userForm.submitted) && !enable">les mots de passe sont differents</span>
      </div>
      <div class="row">
        <button type="submit" class="ml-3 btn text-white d-block"  style="background-color: #0E4157;">Inscription</button>
        <a class="text-primary mt-1 ml-4 tex" routerLink="/connexion">Connectez-vous...</a>
      </div>
    </form>
  </div>
</div>
