.header{
  font-size: 25px;
}
.tab{
  font-family: 'Balsamiq Sans', cursive;
  font-family: 'Pacifico', cursive;
  font-size: 20px;
}
.head{
  font-family: 'Balsamiq Sans', cursive;
  font-family: 'Pacifico', cursive;
  font-family: 'Tenali Ramakrishna', sans-serif;
  font-size: 16px;
  cursor: pointer;
}
.head:active{
  transform: translateY(-3px);
}
