
<div class=" view">
<div class="masthead  text-white text-center">
  <div class="container d-flex align-items-center flex-column">
    <!-- Masthead Avatar Image--><img class="masthead-avatar mb-5" src="assets/img/avataaars.svg" height="400px" width="400px" alt="">
    <!-- Masthead Heading-->
    <h1 class="masthead-heading mb-0 display-4">BIENVENUE A MEDIATEK</h1>
    <!-- Icon Divider-->

    <!-- Masthead Subheading-->
    <div class="d-flex mt-4">
      <button class="big-button w-50 pl-3 mr-4 " routerLink="/inscription" >Administrateur</button>
      <button class="big-button w-50" routerLink="/connexion">Client &nbsp;&nbsp;</button>
    </div>
  </div>
</div>



</div>
